<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         <a class="navbar-brand" href="#">Details of <%= @user.fname %> <%= @user.lname %></a>
      </a>
      
    </div>
  </div>
</nav>
<div class="container">


<p id="notice"><%= notice %></p>
<dl class="dl-horizontal">
  <dt>Sapid:</dt>
  <dd><%= @user.sapid %></dd>

  <dt>First Name:</dt>
  <dd><%= @user.fname %></dd>

  <dt>Last Name:</dt>
  <dd><%= @user.lname %></dd>

  <dt>E-Mail:</dt>
  <dd><a href="mailto:<%= @user.email %>"><%= @user.email %></a></dd>

  <dt>Mobile:</dt>
  <dd><%= @user.mobile %></dd>

  <dt>Username:</dt>
  <dd><%= @user.username %></dd>
</div>
<%= link_to 'Edit', edit_user_path(@user), style: 'margin-left: 45%', class: 'btn btn-default' %> |
<%= link_to 'Back', users_path, class: 'btn btn-default' %>
</div>
