<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         <a class="navbar-brand" href="#"><%= @user.fname %>'s Pics</a>
      </a>
      
    </div>
  </div>
</nav>
<div class="container">
  <p id="notice"><%= notice %></p>

<div class="row">

  <div class="row">
    <% @user.pics.each do |pic| %>
  <div class="col-sm-5 col-md-3">
    
    <div class="thumbnail">
      <%= image_tag pic.picture.url(:thumbnail) %>
      <div class="caption">
        <h3><%= pic.imageuri %></h3>
        
        <p><a href="<%= user_pic_path(id: pic.id) %>" class="btn btn-default" role="button">Show</a> <a href="<%= edit_user_pic_path(id: pic.id) %>" class="btn btn-default" role="button">Edit</a> <%= link_to 'Destroy', user_pic_path(id: pic.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default', role: 'button' %></p>
      </div>
    </div>
    
  </div>
  <% end %>
</div>
  
<div class="center-block" style="margin-left:45%"><%= will_paginate @users %></div>
<a href="<%= new_user_pic_path %>" class="btn btn-default" style="margin-left:40%;" role="button"> Add new Pics</a> | 
<a href="<%= users_path %>" class="btn btn-default" role="button"> Back</a>
</div>
</div>
